<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dandian.campus.xmjs"
    android:versionCode="14"
    android:versionName="1.4" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
	 <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".CampusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.BaodaoHandleActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_baodao_handle" >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.ChangePwdNewStudentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MyStatusActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SubmitDataActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EmsTraceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DormBedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dandian.campus.xmjs.activity.CutImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppBaseTheme">
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.ExperienceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name="com.dandian.campus.xmjs.activity.LoginActivity"
             android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.StudentInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dandian.campus.xmjs.activity.SysSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name="com.dandian.campus.xmjs.activity.ChatMsgActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified"
             android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name="com.dandian.campus.xmjs.activity.SubjectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.TabHostActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" 
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Tab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="cundong" android:host="splash"/>
			</intent-filter>
        </activity>

        <activity
            android:name="com.dandian.campus.xmjs.activity.ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.ChatFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name="com.dandian.campus.xmjs.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>


        <activity
            android:name="com.dandian.campus.xmjs.activity.TabSchoolActivtiy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.SchoolActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.SchoolDetailActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden|screenSize">
            
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.ClassDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" 
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.dandian.campus.xmjs.activity.CurriculumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dandian.campus.xmjs.activity.CallClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dandian.campus.xmjs.activity.CourseClassActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.dandian.campus.xmjs.activity.TestClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dandian.campus.xmjs.activity.SummaryClassActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.dandian.campus.xmjs.activity.AlbumActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.dandian.campus.xmjs.activity.ImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dandian.campus.xmjs.activity.WebSiteActivity"
            android:screenOrientation="portrait" android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation" >
        </activity>
		<activity
            android:name="com.dandian.campus.xmjs.activity.ShowPersonInfo"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.ContactsSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.LocalDocument"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.AlbumFlowActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
		<activity
            android:name="com.dandian.campus.xmjs.activity.AlbumShowImagePage"
            android:screenOrientation="portrait" android:theme="@style/AppBaseTheme">
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.AlbumShowImageDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.AlbumPersonalActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.AlbumShowMessage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dandian.campus.xmjs.activity.ChangePwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
			android:name="com.alipay.sdk.app.H5PayActivity"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:exported="false"
			android:screenOrientation="behind" >
		</activity>
		<activity
			android:name="com.alipay.sdk.auth.AuthActivity"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:exported="false"
			android:screenOrientation="behind" >
		</activity>

        <receiver
            android:name="com.dandian.campus.xmjs.service.Alarmreceiver" android:exported="true">
        </receiver>
		<receiver android:name="com.dandian.campus.xmjs.service.CompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dandian.campus.xmjs.MeizuTestReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.dandian.campus.xmjs"></category>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dandian.campus.xmjs.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>